@forward "@/css/queries.scss";
@forward "@/css/type.scss";

.commonPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
