// Experimental
// Define your color schemes
$light-theme: (
  background: #fff,
  text: #000
);

$dark-theme: (
  background: #000,
  text: #fff
);

// Create a mixin to apply the theme
@mixin theme($theme) {
  background-color: map-get($theme, background);
  color: map-get($theme, text);
}

// Use the mixin with the theme map
body.light-theme {
  @include theme($light-theme);
}

body.dark-theme {
  @include theme($dark-theme);
}