NEXTAUTH_URL_INTERNAL=http://127.0.0.1
NEXTAUTH_URL=http://127.0.0.1
NEXTAUTH_SECRET=ozcpCiuZWyGNcDhYMj+zT8Lh1nJnV82lwnSycw4Mmyg=

AUTH_AUTH0_ID=None
AUTH_AUTH0_SECRET=None
AUTH_AUTH0_ISSUER=None
AUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.vercel.app/32

AUTH_GOOGLE_ID=None
AUTH_GOOGLE_SECRET=None