@use "@css/common.scss" as *;

.header {
  position: sticky;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #000;
}

.navigation {
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0 0.3rem;
  z-index: 1000;
}

.container {
  display: flex;
  align-items: center;
  height: 2rem;
  width: 100%;
  max-width: 100%;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem;
  flex-direction: row;
}

.leftContainer {
  display: flex;
  align-items: center;
  width: 80%;
  height: 80%;
  gap: 1rem;
}

.rightContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  /* gap: 0.3rem; */
  width: 20%;
  /* height: 80%; */
}

.rightContainerIconWrapper {
  padding: 0.8em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}

.rightContainerIconWrapper:hover {
  background-color: var(--color-hover-0);
  transition: border-color 0.3s ease;
}

.rightContainerIcon {
  width: 1em;
  height: 1em;
}
