.mainItemsContainer {
  display: flex;
  width: 40%;
  height: auto;
  margin-top: 2em;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.mainItem {
  display: flex;
  padding: 0.8em;
  height: 7em;
  width: 7em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}

.mainItem:hover {
  background-color: var(--color-hover-0);
  transition: border-color 0.3s ease;
}

.mainItemIcon {
  width: 3em;
  height: 3em;
}

.mainItemText {
  font-size: 1em;
  color: var(--color-text-0);
  top: 0.5em;
  text-align: center;
}
